{% extends 'base.html' %}

{% block title %}Produits{% endblock %}

{% block content %}
<h1>Nos Produits</h1>


<form method="get" action="{% url 'produits_home' %}" class="search-bar">
    <input type="text" name="q" placeholder="Rechercher un produit..." value="{{ query }}">
    <button type="submit">Rechercher</button>
</form>


<div class="filtre">
    <a href="{% url 'produits_home' %}">Tous</a>
    <a href="{% url 'produits_home' %}?categorie=soin">Soin</a>
    <a href="{% url 'produits_home' %}?categorie=beauté">Beauté</a>
    <a href="{% url 'produits_home' %}?categorie=relaxation">Relaxation</a>
</div>


<div class="produits-container">
    {% for produit in produits %}
    <div class="produit-card">
        <img src="{{ produit.image.url }}" alt="Image de {{ produit.name }}">
        <h2><a href="{% url 'produit_detail' produit.id %}">{{ produit.name }}</a></h2>
        <p>{{ produit.description }}</p>
        <p>Prix : {{ produit.price }} €</p>
    </div>
    {% empty %}
    <p>Aucun produit trouvé pour cette catégorie.</p>
    {% endfor %}
</div>
{% endblock %}
